/* Base Styles */
.career-container {
    padding: 0 20px; /* Default padding for small screens */
  }
  
  .career-container h3 {
    text-align: center;
    padding: 16px 0;
    font-size: 1.75rem; /* 28px */
    font-weight: 600;
  }
  
  .grid {
    display: grid;
    gap: 16px;
  }
  
  .flex {
    display: flex;
  }
  
  .border {
    border: 1px solid #000;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Responsive Layouts */
  @media (min-width: 640px) {
    .career-container {
      padding: 0 40px;
    }
  }
  
  @media (min-width: 768px) {
    .career-container {
      padding: 0 60px;
    }
  
    .grid-cols-4 {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .gap-4 {
      gap: 24px;
    }
  
    .h-44 {
      height: 176px;
    }
  }
  
  @media (min-width: 1024px) {
    .career-container {
      padding: 0 130px;
    }
  
    .grid-cols-4 {
      grid-template-columns: repeat(4, 1fr);
    }

  }
  
  @media (min-width: 1280px) {
    .text-2xl {
      font-size: 2.25rem; /* 36px */
    }
  
  }
  
  /* Form Styles */
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  
  form label {
    color: #4b5563; /* Gray 600 */
  }
  
  form input, form select {
    border: 1px solid #d1d5db; /* Gray 300 */
    border-radius: 8px;
    padding: 8px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  
  form input:focus, form select:focus {
    border-color: #3b82f6; /* Blue 500 */
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
  }
  
  @media (min-width: 640px) {
    form {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  
    form .col-span-2 {
      grid-column: span 2;
    }
  }
  
  @media (min-width: 768px) {
    .gap-x-48 {
      gap: 48px;
    }
  }
  