.faq-container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    height: auto;
}
.img_faq{
    position: relative;
    height: 426px;
    width: 100%;
    image-rendering: pixelated;
}
.title-text, .text{
    position: absolute;
    color: black;
    text-align: center;
}
.text-faq{
    position: absolute;
    top: 45%;
    left: 46%;
}
.title-text{
    top: 30%;
    left: 50%;
    translate: (-50%, -30%);
}